<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<main id="root">error</main>
<script type="text/javascript">
  window.loginPic = '<%= image_url('login_page_image.png') %>'
  window.loginPic1 = '<%= image_url('loginPic1') %>'
  window.loginPic2 = '<%= image_url('loginPic2.png') %>'
  window.loginPic3 = '<%= image_url('loginPic3.png') %>'
  window.loginPic4 = '<%= image_url('loginPic4.png') %>'
  window.loginPic5 = '<%= image_url('loginPic5.png') %>'
  window.loginPic6 = '<%= image_url('loginPic6.png') %>'
  window.loginPic7 = '<%= image_url('loginPic7.png') %>'
  window.loginPic8 = '<%= image_url('loginPic8.png') %>'
  window.loginPic9 = '<%= image_url('loginPic9.png') %>'
  window.loginPic10 = '<%= image_url('loginPic10.png') %>'
</script>
