<!DOCTYPE html>
<html>
  <head>
    <title>MrHood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript"> window.logo = "<%= image_url('logo.png') %>" </script>
    <script type="text/javascript"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
